@layer components {
  .select {
    @apply border border-base-content border-opacity-0 bg-base-100 pr-10 font-semibold rounded-md;
    @apply inline-flex cursor-pointer select-none appearance-none;
    @apply h-12 pl-4 pr-10 text-sm leading-loose min-h-12;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
      linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1px + 50%),
      calc(100% - 16px) calc(1px + 50%);
    background-size: 4px 4px, 4px 4px;
    background-repeat: no-repeat;
    &:focus {
      @apply outline outline-2 outline-offset-2 outline-base-content/20;
    }
    &-disabled,
    &:disabled,
    &[disabled] {
      @apply cursor-not-allowed border-base-200 bg-base-200 text-opacity-20 placeholder-base-content placeholder-opacity-20;
    }
  }
}
